<a href="https://colab.research.google.com/github/Nabia-Siddiqui/Nabia-Siddiqui/blob/main/Day_05_Hw_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Day 05 HW**

**Q1:** List Manipulation

In [ ]:
numbers= ['1','2','3','4','5','6','7','8','9']

#adding 10 to the end of this list
numbers.append('10')
print(numbers)

#inserting 0 at the beginning
numbers.insert(0,'0')
print (numbers)

#removing 5 from the list
numbers.remove('5')
print(numbers)

#length of this list
print(len(numbers))

 **Q2:** Tuple Swapping

In [ ]:
tuple1 =(10, 20)
tuple2 =(30, 40)

#swapping values of tuples

print('After Swapping:')
print('updated tuple1:', tuple2)
print('updated tuple2:', tuple1)

**Q3:** Set Operations

In [ ]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

#finding the union of both sets
union_set = set1 | set2
print(union_set)

#set intersection
intersection_set = set1 & set2
print(intersection_set)

#finding difference

difference = set1 - set2
print(difference)

#checking subset
subset = set1 == set2
print(subset)

**Q4:** Dictionary Manipulation

In [ ]:
student = {
    'name':'John Doe',
    'age' :'21',
    'major':'physics',
    'university': 'xyz University',
}

#adding a new key-value pair
student['email'] = 'john.doe@example.com'
print(student)

#removing major
del student['major']
print(student)

#updating age
Age =[('age','22')]
student.update(Age)
print(student)

#checking existence
if 'phone' in student:
  print(True)
else:
  print('Is phone present in Student details ?',False)